* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: salmon;
	font-family: 'Montserrat', sans-serif;
	border-left: 10px solid rgb(0,0,0);
	border-right: 10px solid rgb(0,0,0);
}
a {
	text-decoration: none;
}
.contenedor {
	display: flex;
	flex-flow: column nowrap;
}
.margen-interno {
	padding: 0 12px;
}
.lt {
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Racing Sans One', cursive;
}
	.header {
		background-position: center;
		background-attachment: contain;
		background-size: cover;
		display: flex;
		flex-flow: column nowrap;
	}
		.menu {
			background: rgba(255, 255, 255,.5);
			display: flex;
			flex-flow: row nowrap;
			height: 100px;
			align-items: center;
			border-bottom: 5px solid rgb(0,0,0);
			border-top: 5px solid rgb(0,0,0)
		}
			.lt {
				flex: 1 1 auto;
				margin: 5px;
				margin-left: 380px;
				margin-top: 2px;
			}
			.lt a {
				color: black;
				font-size: 35px;
				transition: 2s;
			}
			.lt a:hover {
				color: rgba(0, 0, 146, .0);
				transition: 2s;
			}
			.nav {
				margin-left: 412px;
				flex: 5 1 auto;
				flex-direction: column;
				font-family: 'Raleway', sans-serif;
			}
				.nav a {
					color: white;
					padding: 0px 10px;
					letter-spacing: 1.5px;
					transition: 0.4s;
					flex-direction: column;
				}
				.nav a:hover {
					color: rgb(204, 255, 255, .4);
					transition: 0.4s;
				}
			.sc {
	      	background: black;
	      	display: flex;
	      	justify-content: center;
	      	letter-spacing: 25px;

			}
			.sc a {
				font-size: 30px;
				color: rgb(255, 255, 255);
				transition: all 0.3s;
				padding: 2px;
				border-radius: 20px;
			}

			.instagram a:hover {
				color: rgba(220, 55, 153, 1);
					transition: all 0.3s;
			}
			.facebook a:hover {
				color: blue;
					transition: all 0.3s;
			}
			.twitter a:hover {
				color: rgb(0, 146, 255);
					transition: all 0.3s;
			}
		h1{
				font-family: 'Montserrat', sans-serif;
				font-size: 28px;
				color: rgba(224, 250, 245, 1);
				font-weight: 300;
				text-align: center;
				line-height: 1.6;
				margin-top: 100px;
				margin-right: 80px;
				margin-left: 80px;
				margin-bottom: 50px;
				padding: 20px;
				transition: 0.8s;
			}

		h1:hover {
				color: black;
				transition: 0.8s;
		}
		p {
			margin: 5px;
	       }

	.fondo {
		display: flex;
			flex-flow: row nowrap;
			height: 100px;
			align-items: center;
	}
	.aside {
		flex: 1 1 auto;
			width: 40%;
			margin: 10px 5px 10px 0;
			display: flex;
			padding: 20px;
			margin-top: 20px;
	}
	.lgp {
		font-family: "Montserrat", sans-serif;
		color: white;
		font-size: 37px;
		background: rgba(25, 25, 25, 1);
				text-align: center;
				border-radius: 25px;
				padding: 20px;
				margin-left: 170px;
				margin-right: 0px;
				margin-top: 75px;
				margin-bottom: 44px;
				width: 100%;
				box-shadow: 10px 10px 5px black;
				transition: all 0.3s;
	}
	.lgp:hover {
			font-family: "Montserrat", sans-serif;
		color: black;
		background: rgba(255, 255, 255, .5);
				text-align: center;
				border-radius: 25px;
				padding: 20px;
				margin-left: 170px;
				margin-right: 0px;
				width: 100%;
				box-shadow: 10px 10px 5px rgb(212, 213, 250);
				transition: all 0.3s;
	}
	.flex {
		display: flex;
	}
	.button a{
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
		color: rgba(224, 250, 245, 1);
		background: rgb(25, 25, 25);
		margin-left: 573px;
		margin-top: 200px;
		padding: 20px;
		border-radius: 20px;
		transition: all 0.5s;

	}
	.button a:hover {
		background: rgba(0, 3, 193, .4);
		color: white;
		border-radius: 25px;
		transition: all 0.5s;
	}

  .footer {
  			padding: 10px;
	      	background: black;
	      	display: flex;
	      	justify-content: center;
	      }
	      	.pie {
	      		background: black;
	      		text-align: center;
	      	}
	      	.pie a {
	      		padding-top: 10px;
	      		font-family: 'Raleway', sans-serif;
	      		color: white;
	      		font-size: 15px;
	      		letter-spacing: 2px;
	      		margin-top: 45px;
	      	}
	      	.developer a{
	      		color: rgba(255, 255, 255);
	      		/*transition: all 0.2s;*/
	      	}
	      	.developer a:hover {
	      			border-bottom: 2px solid white;
	      			/*transition: all 0.2s;*/
	      	}
.repro {
	margin-left: 525px;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
}
.titler {
	margin-left: 85px;
	margin-bottom: 20px;
	font-size: 25px;
	color: red;
}
.enlaces {
	background: black;
	flex-direction: column;
}
.radio {
	display: flex;
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	color: #000;
	margin-left: 80px;
	transition: 0.4s;
}
.radio:hover {
	color: white;
	transition: 0.4s;
	border-bottom: 5px solid white;
}